
    <link rel="stylesheet" type="text/css"href="Login.css">
  <div id="massege" class="login-form">
    <form action="/login" method="POST">
    <h1 >Login</h1>
    <input type="text" name="username" placeholder="username" class="form-control">
    <input type="password"name="password" placeholder="password" class="form-control">
    <input type="submit" value="Login" class="login-btn" />
     Don't have account?<a href="/signup" id="ram"><b>SignUp</b></a> 
    </form>
</div>
 