 
  <link rel="stylesheet" type="text/css"href="signup.css">
<div class="signup-form">
    <form  action="/users/user" method="POST">
    <h1>Sign Up</h1>
    <input type="text" name="username" placeholder="username" class="form-control" required>
    <input type="email" name="email" placeholder="Email" class="form-control" required>
    <input type="password" name="password" placeholder="password" id="password" class="form-control" required>
      <input type="password" name="password2" placeholder="confirm password" id="confirm_password" class="form-control" required>
    <input type="submit" value="Sign Up" class="signup-btn" />
      If you have account?<a href="/login" id="ram"><b>Login</b></a>
    </form>
</div>
<script>
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>