/* #first {
    position: absolute;
    left: 72%;
    top: 60%;
    width: 21%;
}  */


.album-name {
    color: rgb(255, 255, 255);
    word-break: break-all;
    white-space: normal;
}

#cover-name {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 40%;
    font-weight: bold;
    z-index: 3;
    right: 25%;
    font-size: 45px;
}

#cover-img {
    width: 100%;
    height: 306px;
    margin-bottom: 1%;
}

.cover-audio {
    position: absolute;
    top: 79%;
    right: 3%;
    width: 30%;
}

#four {
    line-height: 1;
    font-size: 14px;

}

#six {
    line-height: 1.3;
    font-size: 17.5px;

}

#home-title {
    padding-top: 54px;
}

#home {
    margin-bottom: 2%;
}

#playlist {
    margin-top: 1%;
}

.overlay {
    position: absolute;
    width: 100%;
    display: block;
    cursor: pointer;

    /* Full height (cover the whole page) */

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.315);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
}

.card {
    border: none;
    background: rgba(0, 0, 0, 0.582) !important;
}

.first {
    z-index: 10;
    width: 30%;
    position: absolute;
    right: 2%;
    bottom: 21%;
}

.second {
    z-index: 10;
    width: 30%;
    position: absolute;
    right: 2%;
    bottom: 27%;
}

.btn-circle {
    border-radius: 50%;
    z-index: 3;
    height: auto;
    width: 35px;
    position: absolute;
    right: 2%;
    top: 2%;
}

.btn-circle .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.btn-circle:hover .tooltiptext {
    visibility: visible;
}


/* Delete button */
.delete {
    z-index: 10;
}