body{
    margin: 0;
    padding: 0;
    background:url( bgs17.jpg );
    background-repeat:no-repeat;
     
}
.signup-form{
    width:300px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}
signup-form h1{
    margin-top: 100px;
    font-family:'Courgette', cursive;
    color: #fff;
    font-size:40px;
}

.signup-form input{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family:"montserrat",sans-serif;
}
.form-control{
    margin: 20px 0;
    background: white;
    border-radius: 6px;
}
.signup-btn{
    margin-top: 60px;
    margin-bottom: 20px;
    background: #15d696f5;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
}
.signup-btn:hover{
    transform: scale(0.96);

}
.signup-form a{
    text-decoration: none;
    color: #fff;
    font-family:"montserrat",sans-serif;
    font-size: 14px;
    padding: 10px;
    transition: 0.8;
    display:block;
}
.signup-btn a:hover{
    background: rgba(0,0,0,0.3);
}

#player{
    visibility: hidden;
}
#ram{
    color: #06ff44;
    display: inline;
    text-decoration: underline;
  }
  